#div01{
		 background:#000; 
		 color:#FFF;
		 height:65px;
		 width:100%;
		 font-family:Î¢ÈíÑÅºÚ;
		 font-weight:lighter;
		 font-size:13px;
		}
		#div01-1{
		 color:#FFF;
		 height:100%;
		 width:340px;
		 float:left;
		}
		#div01-1-2{
		  background:;
		  width:200px;
		  height:50px;
		  float:left;
		  margin-top:24px;
		  font-size:15px
		}
		#div01-1-1{
		  background:;
		  width:58px;
		  height:50px;
		  float:left;
		  margin-top:19px;
		  margin-left:23px
		}
		#div01-2{
		  color:#FFF;
		  height:95%;
		  width:90px;
		  float:left;
		  text-align:center;
		}
		
		 #div01-2-1{
		    width:30px;
		    height:30%;
		    margin-top:28%;
		    float:left
		  }
		  #div01-2-2{
		    width:60px;
		    height:30%;
		    float:left;
		    margin-top:27%
		  }
		
		#div01-3{
			 color:#FFF;
			 height:95%;
			 width:90px;
			 float:left;
			 text-align:center;
			 margin-left:2%
		}
		
	    #div01-3-1{
		    width:30px;
		    height:20%;
		    margin-top:28%;
		    float:left
		  }
		#div01-3-2{
		    width:60px;
		    height:20%;
		    float:left;
		    margin-top:27%
		}
		#div01-4{
			color:#fff;
			height:90%;
			color:#fff;
			width:355px;
			float:right;
		}
		
		  #userKeep{
		    width:100%;
		    height:60%;
		    margin-top:8%;
		    float:left
		  }
		  #welcome{
		    float:left;margin-right:10%
		  }
		  #exithref{
		    color:#FFF;
		    text-decoration:none;
		  }
		  #div01-2href{
		   color:#FFF;
		   text-decoration:none;
		  }
		  #div01-3href{
		    color:#FFF;
		   text-decoration:none;
		  }
		  #exitStr{
		   float:left
		  }
		  #exitImge{
		    float:left;margin-top:2px
		  }
		  #exitfont{
		    float:left;margin-left:7px
		  }
		  #div05{
		    width:100%;
		    background:#f8f8ff
		  }
		