<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
     <bean id="messageManagedao" class="com.mindor.dao.impl.MessageManageimpl">
	   <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="messageManageService" class="com.mindor.serivce.serviceimpl.MessageManageServiceimpl">
	   <property name="messageManagedao" ref="messageManagedao"></property>
	</bean>
	
	<bean id="WanYeApiMessage" class="com.mindor.api.WanYeApiMessage" scope="prototype">
	   <property name="messageManageService" ref="messageManageService"></property>
	</bean>
</beans>